<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jia.tabpad"
          android:versionCode="1"
          android:versionName="1.0"
        >
    <uses-permission android:name="android.permission.INTERNET">
        </uses-permission>
    <supports-screens android:xlargeScreens="true"
            android:smallScreens="false"
                  android:normalScreens="false"
        />
    <application android:label="@string/app_name" android:icon="@drawable/launcher">
        <activity android:name=".ui.DrawActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.OpenFileActivity" />
        <activity android:name=".ui.MyGreatActivity" android:label="@string/app_name">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="11"  android:targetSdkVersion="11"/>
</manifest>
